@import "../utils/Mixins";
@import "../utils/Variables";

.pictures {
  position: relative;
  @include display_flex();

  #pattern {
    position: absolute;
    z-index: -1;
    top: -10%;
    left: -18%;
    min-height: 20rem;
    height: 40rem;
    min-width: 15rem;
    width: 40rem;

    @media (max-width: $lg-desktop) {
      left: -36%;
      top: -10%;
      height: 35rem;
      width: 40rem;
      min-width: 36rem;
      min-height: 20rem;

    }

    @media (max-width: $tablet-bg) {
      left: -36%;
      top: -10%;
      height: 26rem;
      width: 40rem;
      min-width: 26rem;
      min-height: 20rem;

    }
    @media (max-width: $tablet) {
      left: 6%;
      top: -10%;
      height: 41rem;
      width: 40rem;
      min-width: 31rem;
    }

    @media (max-width: 425px) {
      left: -6%;
      top: -10%;
      height: 21rem;
      width: 24rem;
      min-width: 20rem;
    }
    @media (max-width: 375px) {
      left: -7%;
      top: -12%;
      height: 22rem;
      width: 22rem;
      min-width: 21rem;
    }

    @media (max-width: $xs) {
      //position: sticky;
      left: -5%;
      top: -10%;
      height: 22rem;
      min-height: 20rem;
      width: 20rem;
      min-width: 19rem;
    }
  }

  #person {
    position: absolute;
    left: -10%;
    box-shadow: $box-dark;
    border-radius: $radius;
    z-index: 2;
    @media (max-width: $lg-desktop) {
      left: -22%;
    }
    @media (max-width: $tablet) {
      position: static;
    }
    @media (max-width: $sm) {
      position: sticky;
      left: 0%;
      top: -10%;
    }
    @media (max-width: $xs) {
      position: sticky;
      left: 0%;
      top: -10%;
    }
  }


  .navigation {
    position: absolute;
    bottom: -6%;
    box-shadow: $box-dark;
    border-radius: 25px;
    z-index: 2;
    @media (max-width: $lg-desktop) {
      bottom: 13%;
      left: 4%;
    }
    @media (max-width: $desktop) {
      bottom: 12%;
    }
    @media (max-width: $tablet-bg) {
      bottom: 18%;
      left: 4%;
    }

    @media (max-width: $tablet) {
      bottom: -2%;
      left: 44%;
    }
    @media (max-width: 425px) {
      left: 38%;
      bottom: -4%;
    }


    #prev {
      padding: 5px 1rem;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      outline: none;
      border: none;
      cursor: pointer;
    }

    #next {
      padding: 5px 1rem;
      cursor: pointer;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      outline: none;
      border: none;
    }

  }
}
