@import "Variables";
/* reset styles */
* {
    color: inherit;
    margin: 0;
}

html,body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: auto!important;
    overflow-x: hidden!important;
    position: relative;
}

ul {
    padding: 0;
    list-style-type: none;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

.test {
    /*color: $primary;*/
}

h1 {
    color: blue;
}
@keyframes anim-left {
    0% {
        opacity: 0;
        transform: translateX(-1px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

}

.show {
    display: block;
    animation: anim-left .5s ease-in-out;
    position: absolute;
    z-index: 1;
}
.fix-error{
    margin: 0 0 10rem 0;
    @media (max-width: $tablet-bg) {
        margin: 0 0 10rem 0;
    }
    @media (max-width: $tablet) {
        margin: 0 0 25rem 0;
    }
    @media (max-width: 480px) {
        margin: 0 0 20rem 0;
    }
}
.waze{}
#author{
    color: $lightBlue;
}
