$darkBlue: hsl(240, 38%, 20%);
$lightBlue: hsl(240, 18%, 77%);

$transitions: all .3s ease;
$line-height: 25px;
$letter-spacing: 1.1px;

// borders
$radius: 15px;

// box-shadow
$box-light: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;
$box-dark: 2px 4px 10px rgba(0, 0, 0, 0.3) !default;


$xs: 21.875rem; //350px
$sm: 37.5rem; //600px
$tablet: 48rem; //768px
$tablet-md: 62rem; //992px
$tablet-bg: 64rem; //1024px
$desktop: 85.375rem; //1366px
$lg-desktop: 120rem; //1920px
